@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Pathway+Gothic+One);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  font-size: 62.5%;
  font-family: "Pathway Gothic One", sans-serif; }

body {
  font-family: "Work Sans", sans-serif;
  height: 100%;
  letter-spacing: .2rem;
  box-sizing: border-box;
  background: linear-gradient(to top, #43484c, #405275);
  background-repeat: no-repeat;
  background-attachment: fixed; }

h1 {
  font-size: 2.8em; }

.banner-text {
  font-size: 9rem;
  letter-spacing: 1.2rem; }

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem; }

p {
  font-family: "Work Sans", sans-serif;
  text-indent: 1rem;
  font-size: 1.8rem; }

ol,
li,
ul {
  font-family: "Work Sans", sans-serif;
  text-indent: 5rem;
  font-size: 1.8rem; }

a {
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.underline {
  text-decoration: underline; }

.btn {
  padding: .5rem;
  border: 1px solid black;
  width: auto;
  height: auto; }
  .btn--open-battletag {
    margin-left: 1rem; }
  .btn--new-season {
    width: 15rem;
    height: auto; }

.content {
  border: 1px solid black; }

.container {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem; }

.active-account--yes {
  display: flex;
  flex-flow: column; }

.parent-account {
  display: flex;
  flex-flow: row; }

.seasons__yes--saved-account {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: right;
  padding: 1rem;
  border: 1px solid black; }

.season {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly; }

.game-table {
  margin: 1rem; }
  .game-table__active-season {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border: 1px solid black; }
  .game-table__games {
    display: flex;
    flex-direction: column; }
  .game-table__cell {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black; }

.header {
  font-family: "Pathway Gothic One", sans-serif;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(to top, #43484c, #405275);
  border-bottom: 1px solid black;
  height: 15rem; }
