.container {
  background-color: $color-ow-dark-blue;
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
  // line-height: 4rem;
  display: flex;
  overflow: auto;
  &--main {
    flex-flow: column;
  }

  &--notfound {
    flex-direction: column;
  }
}

