.container{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
}
.seasons {
    &__yes {
        &--saved-account {
            border: 1px solid black;
        }
        
    }
}