.header {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: linear-gradient(to top, $color-ow-grey-rgba, $color-ow-dark-blue-rgba);
    border-bottom: 1px solid black;
    height: 15rem;
}