.header {
    background: $color-ow-dark-blue;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    border-bottom: 1px solid black;
    overflow: auto;
}