.account-form {
    display: flex;
    text-align: center;
    flex-flow: column;
    margin-top: 20%;
    &__form{
        // margin-top: 5rem;
        &--BattleTag{
            height: 2.5rem;
            border: 1px solid black;
        }
        &--StartingSR {
            width: 10rem;
            border: 1px solid black;
        }
    }
}
.form-errors{
padding-top: 2rem;
padding-bottom: 2rem;
}