.btn {
    padding: .5rem;
    border: 1px solid black;
    font-variant-caps: all-petite-caps;

    &--new-season {
        width: 15rem;
        height: auto;
    }

    &--close-modal{
        position: absolute;
        bottom: 5rem;;
    }
    &--add-battletag{
        width: 20rem;
        align-self: center;
        margin: 1rem 0 0 0;
    }
    &--open-battletag {
        width: 25rem;
        border: .1rem solid black;
        margin: 0 .5rem 0 .5rem;
    }
    &--login{
        padding: .5rem 0 .5rem 0;
        width: 10rem;
        align-self: center;
    }
}