//colors
$color-ow-orange: rgb(249,158,26);
$color-ow-grey: rgb(67,72,76);
$color-ow-dark-blue: rgb(64,82,117);
$color-ow-grey-rgba: rgba(67,72,76, 1);
$color-ow-dark-blue-rgba: rgba(64,82,117,1);
$color-ow-light-blue: rgb(33,143,254);
$color-ow-black: rgb(0,0,0);

//defaults
$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

