.main-info{
  display: flex;
  flex-direction: column;
}
.battletags {
  margin: 1rem 0 1rem 0;
  &__yes {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 1rem 1rem 1rem 5%;
  }
}
