.main-info {
  display: flex;
  flex-direction: column;
}

.battletags {
// overflow: auto;
&__yes {
  display: flex;
  flex-direction: column;
  &--flex-container{
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;
    // align-items: center;
    }
  }
}