*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}
html{
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: $montserrat-font;
    font-variant-caps: all-petite-caps;
    height: 100vh;
    letter-spacing: .2rem;
    box-sizing: border-box;
    background: linear-gradient(to top, $color-ow-grey-rgba, $color-ow-dark-blue-rgba);
    background-repeat: no-repeat;
    background-attachment: fixed;
}