*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}
html{
    height: 100%;
    font-size: 62.5%;
    font-family: $header-font;
}

body {
    font-family: $body-font;
    height: 100%;
    letter-spacing: .2rem;
    box-sizing: border-box;
    background: linear-gradient(to top, $color-ow-grey-rgba, $color-ow-dark-blue-rgba)
}