//fontsize
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Permanent+Marker");
//core fonts
$header-font: "Pathway Gothic One",
sans-serif;
$body-font: "Work Sans",
sans-serif;
//other fonts
$permanent-marker-font: "Permanent Marker",
cursive;
$fredoka-one-font: "Fredoka One",
cursive;
$montserrat-font: "Montserrat",
sans-serif;
//font sizing
$default-font-size: 1.8rem;
$default-h1-size: 3rem;
$default-h2-size: 2rem;
//headings
.banner-text {
  font-variant: normal;
  font-family: $header-font;
  font-weight: 900;
  font-size: 7.3rem;
  color: white;
  line-height: 7rem;
}

h1,
h2,
h3 {
  border: .1rem solid black;
  padding-left: 3rem;
  background-color: $color-ow-orange;
  font-weight: bold;
  padding-bottom: .5rem;
  width: 100%;
}

h1 {
  font-size: $default-h1-size;
}

h2 {
  font-size: $default-h2-size;
  font-weight: bold;
}

.prop {
  font-family: $body-font;
  font-variant: small-caps;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

p {
  font-weight: bold;
  font-size: $default-font-size;
}

ol,
li,
ul {
  font-weight: bold;
  font-size: $default-font-size;
}

.features-ol {
  margin-left: 2rem;
}

.nav-link:link,
.nav-link:visited,
.nav-link:active {
  font-size: $default-h2-size;
  color: black;
  border: .1rem solid black;
  background: $color-ow-light-blue;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}

.nav-link {
  font-size: $default-h2-size;
  color: black;
  border: .1rem solid black;
  background: $color-ow-light-blue;
  text-decoration: none;
  &--battletag {
    width: auto;
    margin: 1rem;
    text-align: center;
  }
  &--login {
    width: 15rem;
    align-self: center;
    position: absolute;
    bottom: 0;
    left: 4vw;
    z-index: 2;
  }
  &--add-season {
    width: 20rem;
    margin: 0 auto;
  }
  &--open {
    text-align: center;
    width: 20rem;
    margin: 0 auto;
  }
  &--add-game {
    width: 30rem;
    margin: 0 auto;
  }
  &--go-back {
    width: 20rem;
    margin-top: .4rem;
    padding: .2rem .5rem .2rem .5rem
  }
  &--open-modal {
    &__battletag {
      background-color: rgba(255, 255, 255, 0.705);
      width: 30rem;
      align-self: center;
      text-align: center;
      margin-top: 1rem;
    }
  }
  &--close-modal {
    &__battletag {
      background-color: rgba(255, 255, 255, 0.705);
      width: auto;
      text-align: center;
      margin-top: 1rem;
    }
  }
}

.custom-heading {
  &__seasons-box {
    display: flex;
    flex-flow: row;
    &--selected-battletag {
      margin-right: 2rem;
    }
  }
}