//fontsize
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Permanent+Marker");

//core fonts
$header-font: "Pathway Gothic One", sans-serif;
$body-font: "Work Sans", sans-serif;
//other fonts
$permanent-marker-font: "Permanent Marker", cursive;
$fredoka-one-font: "Fredoka One", cursive;
$montserrat-font: "Montserrat", sans-serif;

//font sizing
$default-font-size: 1.8rem;
$default-h1-size: 4rem;
$default-h2-size: 3rem;

//headings

.banner-text {
  font-variant: normal;
  font-family: $header-font;
  font-weight: 900;
  font-size: 7.3rem;
}
h1,
h2,
h3 {

  font-weight: bold;
  border-bottom: .2rem solid black;
  text-underline-position: above;
}

h1 {
  font-size: $default-h1-size;
}

h2 {
  font-size: $default-h2-size;
}

.prop{
  font-family:  $body-font;
  font-variant: small-caps;
}
p {
  font-weight: bold;
  font-size: $default-font-size;
}
ol,
li,
ul {
  font-weight: bold;
  font-size: $default-font-size;
}
